version: 2.1

jobs:
  build_and_test:
    docker:
      - image: python:3.10-bullseye

    steps:
      - checkout

      - run:
          name: List all files
          command: ls -al

      - run:
          name: Test presence of python3
          command: |
            python3 --version

      - run:
          name: Install poetry
          command: |
            pip --verbose install poetry==1.3.2

      - run:
          name: Install dependencies
          command: |
            poetry config virtualenvs.create false
            poetry install --verbose --no-ansi

      - run:
          name: Check code formatting
          command: make black-check

      - run:
          name: Check import order
          command: make isort-check

      - run:
          name: Check python code style with flake8
          command: make flake8

      - run:
          name: Check python code style with pylint
          command: make pylint

      - run:
          name: Run unit tests
          command: make test

      - run:
          name: Compute unit test code coverage
          command: make coverage

workflows:
  test_my_app:
    jobs:
      - build_and_test
